* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100svh;

  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  background: url(./assets/imgs/bg-link_mobile_2.png) no-repeat top center / cover;
}

#container {
  width: 100%;
  max-width: 600px;
  padding-top: 54px;

  display: flex;
  justify-content: center;

}

#profile{
  width: 100%;
  text-align: center;
  padding: 24px;
}

#profile img{
  width: 150px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin: 10px;
}


ul{
  max-width: 360px;

  list-style: none;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;

  padding: 24px 0;

  gap: 16px;
}

ul li {
  width: 100%;
  border: 1.5px solid rgba(0 0 0 / 50%);

  border-radius: 8px;

  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);

  background: rgb(255 255 255 / 10% );

  padding: 16px;

  transition: background 0.2s;
}

ul li a{
  text-decoration: none;
  font-weight: 500;
}

ul li:hover {
  background: rgb(255 255 255 / 5% );
  border: 1.5px solid rgba(0 0 0 / 50%);
}

#social-link{

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  padding: 14px 0;

  font-size: 25px;
}

#social-link a{
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;

  border-radius: 50%;

  transition: background 0.2s;
}

#social-link a:hover{
  background: rgb(255 255 255 / 20% );
}

footer{
  display: flex;
  justify-content: center;
  gap: 3px;
  padding: 10px;
}

footer a{
  text-decoration: none;
}

footer a:hover{
  text-decoration: underline;
}